<input type="text" ng-model="search">
<ul>
    <li ng-repeat="item in dirList.list | filter:search | orderBy:'age' | limitTo:2"  class="person-{{item.name | lowercase}}">
        <strong>{{item.name}}</strong> - {{item.age | currency:"Rs. ":0}}
    </li>
</ul>
<form ng-submit="dirList.addPerson()">
    <input type="text" placeholder="Name" ng-model="dirList.name">
    <input type="number" placeholder="Age" ng-model="dirList.age">
    <input type="submit" value="submit">
</form>
