.over-thirty {
    background: red;
    color: white;
}
.under-thirty {
    background: blue;
    color: white;
}
.hidden {
    display: none;
}
ul{
    list-style: none;
}
li{
    display: flex;
    margin-bottom: 10px;

    span{
        display: inline-block;
        line-height: 50px;
    }

    img{
        margin-right: 10px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}
