<img ng-src="{{item.img}}" alt="{{item.name | lowercase}}" />
<span class="item-details"><strong>{{item.name}}</strong> - {{item.age}}
<ng-include src="'<%= image_url('twitter.svg') %>'" id="twitter-cont"></ng-include>
</span>
