<!DOCTYPE html>
<html ng-app="directoryApp">
<head>
  <title>AngularJS for Everyone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="directoryController">

<%= yield %>

</body>
</html>
